repos:
- repo: local
  hooks:
  - id: isort
    name: Isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: Black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: Flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-checking
    name: Checking Sphinx building
    entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
    language: system
    files: ^(docs/.*|shareloc/.*)$
    pass_filenames: False
    stages: [push]

